@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

html {
  block-size: 100%;
  background: var(--grape-0);
  font: 16px / 22px var(--font-sans);
}
body {
  padding: var(--size-3);
}
h1 {
  font-weight: 300;
  font-size: var(--font-size-6);
}
.list {
  color: var(--stone-8);
}
section {
  margin: 1rem 0;
}
a {
  color: var(--indigo-3);
}
a:hover,
a:active {
  text-decoration: underline;
}
a:visited {
  color: var(--violet-8);
}
button {
  font-size: var(--font-size-1);
  padding-inline: var(--size-1);
  padding-block: var(--size-1);
  margin-block: var(--size-1);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}
h1 button {
  vertical-align: 1rem;
}
.tag {
  background: var(--violet-12);
  color: var(--indigo-5);
  min-width: 2rem;
}
.tag:hover,
.tag.selected {
  background: var(--violet-8);
  color: var(--indigo-1);
}
.about {
  color: var(--stone-5);
}

@media (min-width: 65rem) {
  .columns {
    column-gap: 2rem;
    column-count: 2;
  }
}
@media (min-width: 100rem) {
  .columns {
    column-gap: 2rem;
    column-count: 3;
  }
}

.item {
  display: inline-block;
  padding: 1rem;
}
.item .name {
  
}
.item .date {
  
}
.item .author {
  
}