/* test */
/* @import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css"; */


@import "../open-props/borders.min.css";
@import "../open-props/fonts.min.css";
@import "../open-props/gray.min.css";
@import "../open-props/indigo.min.css";
@import "../open-props/normalize.min.css";
@import "../open-props/purple.min.css";
@import "../open-props/shadows.min.css";
@import "../open-props/sizes.min.css";
@import "../open-props/violet.min.css";




html {
	block-size: 100%;
	background: var(--gray-11);
	color: var(--gray-5);
	font: 1rem / 1.5rem var(--font-sans);
	/* makes scrollbar visible so menu doesn't shift */
	min-height: 101%;
}

body {
	padding: 0;
}




header,
section {
	margin: var(--size-2) var(--size-3);
}

a:link {
	color: var(--indigo-3);
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
}

a:visited,
.content .item a:visited {
	color: var(--gray-7);
	color: var(--indigo-5);
	text-decoration: underline;
}

button {
	font-size: var(--font-size-1);
	padding-inline: .35rem;
	padding-block: .12rem;
	margin-block: var(--size-1);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-2);
	padding-bottom: .2rem;
}










/* MARKED FOR DELETE */

.sort {
	background: var(--violet-12);
	color: var(--indigo-5);
	min-width: 2rem;
	margin-right: 0.3rem;
}


.sort:hover {
	background: var(--violet-10);
	color: var(--indigo-3);
}


.sort.active {
	background: var(--violet-8);
	color: var(--indigo-2);
}


.sort.active:hover {
	background: var(--violet-9);
	color: var(--indigo-2);
}

/* \MARKED FOR DELETE */





/* 576px, 768px, 992px, 1200px, 1400px */
.oneTwoColumns {
	page-break-inside: avoid;
	break-inside: avoid-column;
	column-gap: 2rem;
	column-count: 1;
}

@media (min-width: 576px) {
	.oneTwoColumns {
		column-count: 1;
	}
}

@media (min-width: 798px) {
	.oneTwoColumns {
		column-count: 2;
	}
}

@media (min-width: 1200px) {
	.oneTwoColumns {
		column-count: 3;
	}
}







.content {
	color: var(--gray-6);
}

.content .item {
	display: block;
	padding: .3rem 0;
	border-top: 1px dotted var(--violet-11);
	break-inside: avoid-column;
}

.content .item span {
	display: inline-block;
	padding: 0 .08rem;
}

.content .item .title {
	color: var(--gray-5);
}

.content .item .status {
	cursor: pointer;
}

.content .item .date {
	color: var(--gray-6);
}

.content .item .author {
	color: var(--gray-5);
	display: inline;
}

.content .item .strike {
	text-decoration: line-through;
	color: var(--gray-6);
}

.content .item .tags {
	color: var(--gray-7);
}

.content .item .description {
	display: none;
}

.content .item .media {
	display: none;
}

.content.showMedia .item .media,
.content .item.showMedia .media {
	margin: .5rem 0;
	display: block;
}

.content.showDescriptions .item .description,
.content .item.showDescriptions .description {
	margin: .5rem 0;
	display: block;
}

.media * {
	width: 100%;
}






.about {
	margin: var(--size-6) 0;
	border-bottom: 2px solid var(--gray-9);
	padding: var(--size-4) 0;
}


footer {
	margin: var(--size-6) 0;
	border-top: 2px solid var(--gray-9);
	padding: var(--size-4) 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}


@media (min-width: 65rem) {
	footer {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
}

@media (min-width: 100rem) {
	footer {
		grid-template-columns: 2fr 1fr;
		gap: 4rem;
	}
}