/* test */
/* @import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css"; */

@import "../open-props/borders.min.css";
@import "../open-props/fonts.min.css";
@import "../open-props/gray.min.css";
@import "../open-props/indigo.min.css";
@import "../open-props/normalize.min.css";
@import "../open-props/purple.min.css";
@import "../open-props/shadows.min.css";
@import "../open-props/sizes.min.css";
@import "../open-props/violet.min.css";

html {
	block-size: 100%;
	background: var(--gray-11);
	color: var(--gray-5);
	font: 1rem / 1.5rem var(--font-sans);
	min-height: 101%;
}

body {
	padding: 0;
}

a:link {
	color: var(--indigo-3);
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
}

a:visited,
.links .item a:visited {
	color: var(--gray-7);
	color: var(--indigo-5);
	text-decoration: underline;
}

button {
	font-size: var(--font-size-1);
	padding-inline: .35rem;
	padding-block: .12rem;
	margin-block: var(--size-1);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-2);
	padding-bottom: .2rem;
}

h1 {
	font-weight: 300;
	font-size: var(--font-size-3);
	max-inline-size: 100%;
	color: var(--indigo-3);
}

h1 a:visited {
	color: var(--indigo-3);
}

h1 a {
	text-decoration: none;
}






.strike {
	text-decoration: line-through;
	color: var(--gray-6);
}
.title {
	color: var(--gray-5);
}
.date {
	color: var(--gray-6);
}
.status {
	cursor: pointer;
}
.author {
	color: var(--gray-5);
	display: inline;
}






header,
section,
footer {
	/* grid / flex margins don't collapse! */
	margin: .5rem 0;
	padding: 0 1rem;
}

header {
	margin-top: 1rem;
	grid-area: header;
}

.tags {
	grid-area: tags;
}

.links {
	grid-area: links;
}

.project {
	/* background-color: #4f2b67; */
	grid-area: project;
}

footer {
	/* background-color: #0d0f12; */
	grid-area: footer;
}

.sticky {
	position: sticky;
	top: 0;
}

/* test https://codepen.io/owenmundy/pen/JjgEMGV?editors=1100 */
.container {
	height: 100%;
	display: grid;
	grid-template-areas:
		"header"
		"project"
		"tags"
		"links"
		"footer";
}

.columns {
	page-break-inside: avoid;
	break-inside: avoid-column;
	column-gap: 2rem;
	column-count: 1;
}

@media (min-width: 1100px) {
	.container {
		grid-template-columns: 50% auto;
		grid-template-areas:
			"header header"
			"tags tags"
			"links links"
			"links links"
			"footer footer";
	}

	.container.projectVisible {
		/* background-color: red; */
		grid-template-areas:
			"header header"
			"tags tags"
			"links project"
			"links project"
			"footer footer";
	}

	.container .columns {
		column-count: 2;
	}

	.container.projectVisible .columns {
		column-count: 1;
	}
}

@media (min-width: 1500px) {

	.container {
		grid-template-columns: 33% 33% 33%;
		grid-template-areas:
			"header header header"
			"tags tags tags"
			"links links links"
			"links links links"
			"footer footer footer";
	}

	.container.projectVisible {
		grid-template-areas:
			"header header header"
			"tags tags tags"
			"links links project"
			"links links project"
			"footer footer footer";
	}

	.container .columns {
		column-count: 3;
	}

	.container.projectVisible .columns {
		column-count: 2;
	}
}

@media (min-width: 2100px) {
	.container .columns {
		column-count: 4;
	}

	.container.projectVisible .columns {
		column-count: 3;
	}
}