@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";


:root {}

html {
	block-size: 100%;
	background: var(--grape-0);
	color: var(--gray-5);
	font: 16px / 22px var(--font-sans);
	/* makes scrollbar visible so menu doesn't shift */
	min-height:101%;
}

body {
	padding: var(--size-3);
}

h1 {
	font-weight: 300;
	font-size: var(--font-size-6);
	max-inline-size: 100%;
}

section {
	margin: var(--size-4) 0;
}

a {
	color: var(--indigo-3);
}

a:hover,
a:active {
	text-decoration: underline;
}

a:visited {
	color: var(--violet-8);
}

button {
	font-size: var(--font-size-1);
	padding-inline: .35rem;
	padding-block: .12rem;
	margin-block: var(--size-1);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-2);
	padding-bottom: .2rem;
}

h1 button {
	vertical-align: 1rem;
	padding: .3rem;
	font-size: small;
	background: var(--violet-12);
}

h1 a {
	text-decoration: none;
}



.tag,
.sort {
	background: var(--violet-12);
	color: var(--indigo-5);
	min-width: 2rem;
}

.tag:hover,
.sort:hover {
	background: var(--violet-10);
	color: var(--indigo-3);
}

.tag.active,
.sort.active {
	background: var(--violet-8);
	color: var(--indigo-2);
}

.tag.active:hover,
.sort.active:hover {
	background: var(--violet-9);
	color: var(--indigo-2);
}



@media (min-width: 65rem) {
	.columns {
		column-gap: 2rem;
		column-count: 2;
	}
}

@media (min-width: 100rem) {
	.columns {
		column-gap: 2rem;
		column-count: 3;
	}
}


.notes {
	color: var(--gray-7);
	margin: 1rem 0;
}

.list {
	color: var(--gray-7);
}

.list .item {
	display: block;
	padding: .3rem 0;
	border-bottom: 1px dotted var(--violet-12);
}

.list .item span {
	display: inline-block;
	padding: 0 .08rem;
}

.list .item .name {
	color: var(--gray-5);
}

.list .item .date {
	color: var(--gray-6);
}

.list .item .author {
	color: var(--gray-5);
}

.sortMethods {
	margin-left: .5rem;
	color: var(--gray-5);
}

.list .item .strike {
	text-decoration: line-through;
	color: var(--gray-8);
}

.list .item .content {
	display:none;
}

.notes {
	color: var(--gray-6);
	margin: 1rem 0;
	/* text-align: center; */
	/* border-top: 2px solid var(--gray-9); */
	padding: var(--size-2);
	/* border-bottom: 2px solid var(--gray-9); */
}
.notes span{
	color: var(--gray-5); 
}

.about {
	margin: var(--size-6) 0;
	border-bottom: 2px solid var(--gray-9);
	padding: var(--size-4) 0;
}