@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";


:root {}

html {
	block-size: 100%;
	background: var(--grape-0);
	color: var(--gray-5);
	font: 1rem / 1.5rem var(--font-sans);
	/* makes scrollbar visible so menu doesn't shift */
	min-height: 101%;
}

body {
	padding: var(--size-3);
}


h1 {
	margin-top: .5rem;
	font-weight: 300;
	font-size: var(--font-size-6);
	max-inline-size: 100%;
	color: var(--indigo-3);
}

h1 a:visited {
	color: var(--indigo-3);
}

section {
	margin: var(--size-4) 0;
}

a:link {
	color: var(--indigo-3);
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
}

a:visited,
.list .item a:visited {
	color: var(--gray-7);
	color: var(--indigo-5);
	text-decoration: underline;
}

button {
	font-size: var(--font-size-1);
	padding-inline: .35rem;
	padding-block: .12rem;
	margin-block: var(--size-1);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-2);
	padding-bottom: .2rem;
}

h1 button {
	vertical-align: 1rem;
	padding: .3rem;
	font-size: small;
	background: var(--violet-12);
}

h1 a {
	text-decoration: none;
}



.tag,
.sort {
	background: var(--violet-12);
	color: var(--indigo-5);
	min-width: 2rem;
}

.tag:hover,
.sort:hover {
	background: var(--violet-10);
	color: var(--indigo-3);
}

.tag.active,
.sort.active {
	background: var(--violet-8);
	color: var(--indigo-2);
}

.tag.active:hover,
.sort.active:hover {
	background: var(--violet-9);
	color: var(--indigo-2);
}

.columns {
	page-break-inside: avoid;
	break-inside: avoid-column;
	column-gap: 2rem;
}

@media (min-width: 65rem) {
	.columns {
		column-count: 2;
	}
}

@media (min-width: 100rem) {
	.columns {
		column-count: 3;
	}
}


/* Tooltip container 
https://www.w3schools.com/css/css_tooltip.asp
*/
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 100%;
	background-color: var(--violet-10);
	color: var(--gray-4);
	text-align: center;
	border-radius: var(--radius-2);
	padding: 1rem 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 25%;
	margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}




.list {
	color: var(--gray-7);
}

.list .item {
	display: block;
	padding: .3rem 0;
	border-top: 1px dotted var(--violet-11);
}

.list .item span {
	display: inline-block;
	padding: 0 .08rem;
}

.list .item .name {
	color: var(--gray-5);
}

.list .item .status {
	cursor: pointer;
}

.list .item .date {
	color: var(--gray-6);
}

.list .item .author {
	color: var(--gray-5);
	display: inline;
}

.sortMethods {
	margin-left: .5rem;
	color: var(--gray-5);
}

.list .item .strike {
	text-decoration: line-through;
	color: var(--gray-6);
}

.list .item .content {
	display: none;
}

.notes {
	color: var(--gray-6);
	margin: 1rem 0;
	/* text-align: center; */
	/* border-top: 2px solid var(--gray-9); */
	padding: var(--size-2);
	/* border-bottom: 2px solid var(--gray-9); */
}

.notes span {
	color: var(--gray-5);
}

.about {
	margin: var(--size-6) 0;
	border-bottom: 2px solid var(--gray-9);
	padding: var(--size-4) 0;
}


footer {
	margin: var(--size-6) 0;
	border-top: 2px solid var(--gray-9);
	padding: var(--size-4) 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}


@media (min-width: 65rem) {
	footer {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
}

@media (min-width: 100rem) {
	footer {
		grid-template-columns: 2fr 1fr;
		gap: 4rem;
	}
}